@font-face {
   font-family: 'Galatea-Bold';
   font-display: swap;
   src: url('file:///C:/Users/carlo/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-13_224431/fonts/Galatea-Bold/font.ttf');
}
