@font-face {
   font-family: 'Galatea-Regular';
   font-display: swap;
   src: url('file:///C:/Users/carlo/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-13_224431/fonts/Galatea-Regular/font.ttf');
}
